
.App {
    height: 100vh;
    display: flex;
    color: white;
    
  }
  
  .App_Aside {
    width: 10%;
    background-color: rgb(134, 174, 211);
    
   
  }
  App_Aside:active {
    color: yellow;
  }
  
  .App_Form {
    width: 90%;
     background-color: #e9bd6d;
    padding: 25px 40px;
    overflow: auto;
    padding-top: 100px;
   
    
    
  }
  App_Form:active {
    color: yellow;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  

  
  .FormCenter {
    margin: 0 auto;
    margin-bottom: 100px;
    
  }
 
  
  .FormTitle {
  
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;

  }
  
  .FormTitle_Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle_Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle_Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField_Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField_Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField_Input::placeholder {
    color: #616E7F;
  }
  
  .FormField_Button {
    background-color: rgb(100, 183, 216);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    
  }
  .FormField_Button2 {
    background-color: rgb(216, 157, 46);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
  
  .FormField_Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
    padding-left: 0px;
  }
  
  .FormField_CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField_Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField_TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }